@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

p {
    margin-bottom: 0.75rem;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}